/**
 * Settings and imports
 *
 */
.mg-body {
  position: relative; }
  .mg-body .mg-inner {
    position: relative;
    height: 312px;
    list-style: none; }

.mg-navigate-left,
.mg-navigate-right {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  z-index: 300;
  cursor: pointer; }
  .mg-navigate-left:after,
  .mg-navigate-right:after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 0 solid #636363;
    border-width: 6px 6px 0 0;
    z-index: 400;
    box-shadow: #fff 10px -10px 20px; }

.mg-navigate-left {
  left: 15px;
  transform: rotate(-135deg); }

.mg-navigate-right {
  right: 15px;
  transform: rotate(45deg); }

/**
 * Item, mainly inactive state
 */
.mg-item {
  position: absolute;
  z-index: 0;
  top: 40px;
  margin: 0 15px;
  right: 551px;
  left: 0;
  background: #fff; }
  .mg-item > * {
    opacity: 0.4; }
  .mg-item .mg-item-image {
    width: 381px;
    height: 236px;
    overflow: hidden;
    text-align: center; }
  .mg-item .mg-item-teaser {
    width: 290px;
    padding: 5px 10px;
    display: none;
    position: absolute;
    right: -260px;
    top: 18px;
    bottom: 18px;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10;
    color: #fff; }
  .mg-item .mg-item-text {
    margin: 3px 0;
    padding: 5px 0; }

/**
 * Currently active item, with bits of inactive
 */
.mg-current {
  left: 117px;
  right: 350px;
  z-index: 100;
  top: 0; }
  .mg-current > * {
    opacity: 1; }
  .mg-current .mg-item-teaser {
    display: block; }
  .mg-current .mg-item-image {
    width: 465px;
    height: 262px; }
  .mg-current + li {
    z-index: 50; }
  .mg-current ~ li {
    right: 0;
    left: 551px; }

.mg-moving {
  z-index: 200; }
  .mg-moving > .mg-item-teaser,
  .mg-moving > .mg-item-image {
    opacity: 1; }

main,
footer {
	margin: 0 auto;
	width: 962px;	
}
