<li class="mg-item">
    <div class="mg-item-teaser">
        <h3 class="mg-item-header">{{teaser.header}}</h3>
        <div class="mg-item-text">
            {{teaser.text}}
        </div>
    </div>
    <div class="mg-item-image">
        <img src="{{image.src}}" alt="{{image.alt}}" />
    </div>
</li>
