// Here goes calculation for classic gallery layout
//+ which are based on the image dimentions and
//+ gallery width settings.

// Main Settings
$image-width: 540px;
$image-height: 304px;
$gallery-width: 962px;

// Base font size
$gallery-font-size: 10px;

// Navigation Arrows
$arrow-size: 4em;
$arrow-color: #636363;
$arrow-width: 0.6em;
$arrow-shadow: #fff 1em -1em 2em;
$navigate-left: 1em;
$navigate-right: 1em;

// Items
$item-background: #fff;

$active-top: 0;
$active-left: 11.7em;
$active-right: em($gallery-width) - (em($image-width) + $active-left);

$active-image-width: em($image-width);
$active-image-height: em($image-height);
$inactive-opacity: 0.4;

$inactive-image-width: 38.1em;
$inactive-image-height: 23.6em;
$inactive-top: ($active-image-height - $inactive-image-height) / 2;

$inactive-width: em($gallery-width) - $inactive-image-width
$inactive-left-right: $inactive-width;
$inactive-left-left: 0;
$inactive-right-right: 0;
$inactive-right-left: $inactive-width;


// Teaser
$header-font-size: 2em;

$teaser-width: 29em;
$teaser-top: 1.8em;
$teaser-right: -26em;
$teaser-bottom: 1.8em;
$teaser-background: rgba(0, 0, 0, 0.75);
$teaser-padding: 0.5em 1em;
$teaser-color: #fff;
$teaser-font-size: 1.6em;

$text-margin: 0.3em 0;
$text-padding: 0.5em 0;

// Gallery itself
$gallery-body-width: em($gallery-width);
$inner-height: $active-image-height;
