.mg-item {
  transition-property: left, right, top, opacity;
  transition-duration: $speed * 3s;
}
.mg-item-image {
  transition-property: height, width;
  transition-duration: $speed * 3s;
}

.mg-item-teaser {
  transition-property: right, transform;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition-duration: $speed * 7s;
}
