/**
 * Currently active item
 */
.mg-item:nth-child(3) {
    left: $active-left;
    right: $active-right;
    z-index: 100;
    top: $active-top;

    > * {
        opacity: 1;
    }

    .mg-item-teaser {
        transform: rotateY(0);
        right: $teaser-right;
    }

    .mg-item-image {
        width: $active-image-width;
        height: $active-image-height;
    }

    + li {
        z-index: 50;
    }

    ~ li {
        right: $inactive-right-right;
        left: $inactive-right-left;
    }
}
