<li class="mg-item {{#if @first}}mg-current{{/if}}">
    <div class="mg-item-teaser">
        <h2>{{teaser.header}}</h2>
        <div class="mg-item-text">
            {{teaser.text}}
        </div>
    </div>
    <div class="mg-item-image">
        <img src="{{image.src}}" alt="{{image.alt}}" />
    </div>
</li>
