/**
 * Item, mainly inactive state
 */
 
$item-background: #fff;
$item-margin: 0 1.5em;

$active-top: 0;
$active-right: 35em;
$active-left: 11.7em;

$inactive-top: 4em;
$inactive-right-right: 55.1em;
$inactive-right-left: 0;
$inactive-left-right: 0;
$inactive-left-left: 55.1em;

$active-image-width: 46.5em;
$active-image-height: 26.2em;
$inactive-image-width: 38.1em;
$inactive-image-height: 23.6em;

$inactive-opacity: 0.4;
$active-opacity: 1;

$header-font-size: 2em;

$teaser-width: 29em;
$teaser-top: 1.8em;
$teaser-right: -26em;
$teaser-bottom: 1.8em;
$teaser-background: rgba(0, 0, 0, 0.75);
$teaser-padding: .5em 1em;
$teaser-color: #fff;
$teaser-font-size: 1.6em;

$text-margin: .3em 0;
$text-padding: .5em 0;

.mg-item {
    position: absolute;
    z-index: 0;
    top: $inactive-top;
    margin: $item-margin;
    right: $inactive-right-right;
    left: $inactive-right-left;
    background: $item-background;

    > * {
        opacity: $inactive-opacity;
    }

}

    .mg-item-image {
        width: $inactive-image-width;
        height: $inactive-image-height;
        overflow: hidden;
        text-align: center;
    }

    .mg-item-teaser {
        width: $teaser-width;
        padding: $teaser-padding;
        display: none;
        position: absolute;
        right: $teaser-right;
        top: $teaser-top;
        bottom: $teaser-bottom;
        background: $teaser-background;
        z-index: 10;
        color: $teaser-color;

    }
    .mg-item-header {
        font-size: $header-font-size;
    }
    .mg-item-text {
        font-size: $teaser-font-size;
        margin: $text-margin;
        padding: $text-padding;
    }
