.mg-body {
    position: relative;
    margin: 0 auto;
    width: $gallery-body-width;
    font-size: $gallery-font-size;
}
    .mg-inner {
        position: relative;
        height: $inner-height;
        list-style: none;
    }
