$arrow-size: 4em;
$arrow-color: #636363;
$arrow-width: .6em;
$arrow-shadow: #fff 1em -1em 2em;
$navigate-left: 1.5em;
$navigate-right: 1.5em;

.mg-navigate-left,
.mg-navigate-right {
  position: absolute;
  top: 50%;
  margin-top: -$arrow-size/2;
  width: $arrow-size;
  height: $arrow-size;
  z-index: 300;
  cursor: pointer;

  &:after {
    content: " ";
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    border: 0 solid $arrow-color;
    border-width: $arrow-width $arrow-width 0 0;
    z-index: 400;
    box-shadow: $arrow-shadow;
  }
}

.mg-navigate-left {
  left: $navigate-left;
  transform: rotate(-135deg);
}

.mg-navigate-right {
  right: $navigate-right;
  transform: rotate(45deg);
}
