.mg-body {
    position: relative;
    width: $body-width;
    font-size: $body-font-size;
}
    .mg-inner {
        position: relative;
        height: $inner-height;
        list-style: none;
    }
