$arrow-width: 40px;
$arrow-color: #9e9e9e;

.mg-navigate-left,
.mg-navigate-right {
  position: absolute;
  top: 50%;
  margin-top: -$arrow-width/2;
  width: $arrow-width;
  z-index: 300;

  svg {
    width: $arrow-width;
  }
}

.mg-navigate-left {
  left: -20px;

  svg g {
    fill: $arrow-color;
  }
}

.mg-navigate-right {
  right: -15px;
}
