// Here goes calculation for classic gallery layout
//+ which are based on the image dimentions and
//+ gallery width settings.

// Settings
$image-width: 540px;
$image-heigth: 304px;
$body-width: 962px;

// Gallery body info
$body-font-size: 10px;
$inner-height: 31.2em;
