.mg-navigate-left,
.mg-navigate-right {
  position: absolute;
  top: 50%;
  width: 31px;
  height: 100px;
  margin-top: -50px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 300;
}

.mg-navigate-left {
  left: 0;
  background: black url(/web/20130307172839/http://cdn-media.hollywood.com/bundles/website/images/site/sprite-pagi-nav.png) 4px -297px no-repeat;
}

.mg-navigate-right {
  right: 0;
  background: black url(/web/20130307172839/http://cdn-media.hollywood.com/bundles/website/images/site/sprite-pagi-nav.png) 4px -297px no-repeat;
  background-position: -5px -199px;
}
