<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MG - semantically correct gallery.</title>
	<link rel="stylesheet" type="text/css" href="main.css" />
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
</head>
<body>
	<main>
		{{> mg-body}}
	</main>
	<footer>
		 <div>Arrow icons by <a href="http://www.flaticon.com/authors/egor-rumyantsev" title="Egor Rumyantsev">Egor Rumyantsev</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
	</footer>
	<script type="text/javascript" src="script.js"></script>
</body>
</html>
