<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MG - semantically correct gallery.</title>
	<link rel="stylesheet" type="text/css" href="main.css" />
	<link href='https://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
</head>
<body>
	<header><h1>Mega Gallery</h1></header>
	<main>
		{{> mg-body}}
	</main>
	<footer>
		 Hello Dolly!
	</footer>
	<script type="text/javascript" src="script.js"></script>
</body>
</html>
