<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mega Gallery - Semantically Correct Gallery.</title>
	<link rel="stylesheet" type="text/css" href="index.css" />
	<link href='https://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
</head>
<body>
	<div class="wrapper">
		<header>
			<h1>Mega Gallery</h1>
		</header>
		<main>
			<section>
				<h2>This is San Francisco</h2>
				{{> mg-body}}
			</section>
			<div class="info">
				Like it on <a href="https://github.com/dmi3y/mega-gallery">GitHub</a>
			</div>
		</main>
		<footer>
			Made by: <a href="mailto:lapshukov@gmail.com">Dmitrii Lapshukov</a>
		</footer>
	</div>
	<script type="text/javascript" src="index.js"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-74722352-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>
